<body>
    <nav>
        <ul>
            <li><b><a href="" class="brand">WayWise</a></b></li>
            <li><a href="home">Home</a></li>
            <li><a href="viewdelivery">View deliveries</a></li>
            <li><a href="#Services">Services</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#">Track Shipment</a></li>
        </ul>
    </nav>
    <div class="background-image">
        
        <div class="card">
        <div class="card-content">
            
            <h4><b>Ship personal courier</b></h4>
            <p>Get your shipment picked up from your doorstep.</p>
            <p>Send your parcel from the comfort of your home or office</p>
            <a routerLink="/add-delivery" class="btn">Add Delivery</a>
            
        </div>
        </div>
    </div>
    
    <div id="Services">
        <!--<img src="assets/2.jpg" alt="Services Image">-->
    </div>
    
    <div id="contact" ></div>
    </body>