<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<div class="container">
    
    <div class="bg-image"> 
  
        
        <h4><b>Ship personal courier</b></h4>
        <p>Get your shipment picked up from your doorstep.</p>
        <p>Send your parcel from the comfort of your home or office</p>
        <a routerLink="/add-delivery" class="btn">Ship a Parcel Now</a>
        
    
    </div>


<div id="Services">
    <img src="assets/2.jpg" alt="Services Image">
</div>

<div id="contact" >

</div>
</div>