.bg-image{
  background-image: url('assets/background.jpg') ;
  background-repeat: no-repeat;
  height: 1200px;
  width:1000px;
  
}

  
  #Services img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  #contact {
    padding: 20px;
    color: white;
  }
  